* {
    box-sizing: border-box;
  }

    body {
        margin: 0px;
        background-color: aliceblue;
        background: url("newback5.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    /*  new navbar */

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root{
    --blue:#0188DF ;
    --black:#354046 ;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;
}

*::selection{
    background: var(--black);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: white;
}

.bar{
    background-color: #0188DF;
    position: fixed;
    top: 0%;
    width: 100%;
    left: 0%;
    height: 2rem;
    color:#fff;
    font-size: 1.3rem;
    text-align: justify;
    margin: 0;
    padding: 0;
    z-index: 1001;
}
#headingcareer {
    font-weight: bold;
}

header .container{
    position: fixed;
    top: 20px; left: 0;
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .container ul{
    list-style-type: none;
    display: flex;
}

header .logo{
    font-size: 3rem;
    color: var(--black);
}

header .logo span{
    font-size: 3.9rem;
    color: var(--blue);
}

header .nav {
    margin-top: 2%;
}

header .nav a{
    font-size: 1.4rem;
    margin-left: 2rem;
    color: var(--black);
}

header .nav a:hover{
    color: var(--blue);
}

header input{
    display: none;
}

header label{
    font-size: 2.3rem;
    color: #0188DF;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

@media (max-width:1200px) {
    html{
        font-size: 47%;
    }
}

@media (max-width: 768px){


    header label{
        visibility: visible;
        opacity: 1;
    }

    header .nav{
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        background-color: whitesmoke;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    header .nav li{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .nav{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }      
    
    

    header .container ul{
        display: block;
    }
    

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


}

/*MEDIA QUERIES ENDS*/

                                                                     /* old navbar below */
/*marquee bar*/
/* .bar{
    background-color: #0188DF;
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0%;
    height: 20px;
    color:#fff;
    font-size: 15px;
    text-align: justify;
} */



/* ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: aliceblue;
  position: fixed;
  overflow: auto;
  font-size: 30px;
}

ul.sidenav li a {
  display: block;
  color: #000;
  margin: auto;
  padding: 8px 15px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: #0188DF;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #0188DF;
  color: white;
} */

/*marquee bar*/
/* .bar{
    background-color: #0188DF;
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0%;
    height: 20px;
    color:#fff;
    font-size: 15px;
    text-align: justify;
}

ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;} */

.claris p
{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Roboto';
    font-size: 350%;
    margin: 1%;
    color: #000;
    visibility: hidden;

}
.claris p span
{
    color: #0188DF;

}

.claris p::after 
{
    content: "";
    clear: both;
}
.claristext p
{
    font-size: 200%;
    margin: 1%;
    color: white;
    font-family: 'Adamina';
    visibility: hidden;

    text-shadow: 2px 2px 2px #000000;}

/* contents *//* contents *//* contents *//* contents *//* contents *//* contents *//* contents *//* contents *//* contents *//* contents *//* contents */

a {
    color: transparent;    /*this is so that underline does not appear*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

/* flexbox item 1 ka code neeche */



.flexbox-item
{
    margin: 0;
    border: 3px hidden black;
    background-color: white;
    font-family: 'Adamina';
        border: 0px solid #ccc;
        float: left;
}

        .flexbox-item:hover {
            box-shadow: 0 0 50px rgba(17, 0, 255, 0.5); 
        }

.flexbox-item1
{
  width: 100%;
    min-height: 400px;
    font-family: 'Adamina';
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);
}

    .box
    {
        position: relative;
        width: 100%;
        min-height: 100px;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        overflow: hidden;
        border-radius: 20px;
    }

    .box::before
    {
        content: '';
        position: absolute;
        height: 100px;
        width: 140%;
        background: linear-gradient(#0026ff,#d400d4);
        animation: animate 4s linear infinite;
    }

.box::after
{
    content: '';
    position: absolute;
    inset: 10px;
    background: #0188DF;
    border-radius: 16px;
}

    @keyframes animate
    {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(350deg);
        }
    }


    .box h3
    {
        position: relative;
        
        z-index: 10;

    }

        .box_CurrentOpenings
        {
            position: relative;
    /*        border: 1px solid aliceblue; */
            width: 100%;
            min-height: 100px;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            background:aliceblue;
            overflow: hidden;
            border-radius: 20px;
            background : transparent;
        }

                .box_CurrentOpenings:hover
                {
                    background-color: #7ac8fc;
                }

        .box_Resume
        {
            position: relative;
            /* border: 1px solid white; */
            width: 100%;
            min-height: 100px;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            background:aliceblue;
            overflow: hidden;
            border-radius: 20px;
            background : transparent;
            
        }

                .box_Resume:hover
                {
                    background-color: #7ac8fc;
                }

        .box_Touch
        {
            position: relative;
            /* border: 1px solid white; */
            width: 100%;
            min-height: 100px;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            background:aliceblue;
            overflow: hidden;
            border-radius: 20px;
            background : transparent;
            
        }

                .box_Touch:hover
                {
                    background-color: #7ac8fc;
                }


    .flexbox-item1 h3
    {
        font-size: 45px;
        font-family: 'Adamina';
    }


    .flexbox-item1 p
    {
        font-size: 30px;
        color: white;
        padding: 20px;
        text-shadow: 2px 2px 10px  black;
    }

    

    .flexbox-item1 p:hover
    {
        color: black;   
        animation-name: example;
        animation-duration: 2s;
      }
      
      @keyframes example {
        50%  {color: white;}
        100% {color: black;}
      }

      /* flexbox part 2 ka code neeche */
      .flexbox-item2
      {
          width: 100%;
          height: 600px;
          overflow-x: hidden;
          padding: 20px;
          scroll-behavior: smooth;

          background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        z-index: 10;
        padding: 20px;
        backdrop-filter: blur(25px);
      }
      
                              /* width */
                              ::-webkit-scrollbar {
                                  width: 20px;
                                  scroll-behavior: smooth;
                              }
                              
                              /* Track */
                              ::-webkit-scrollbar-track {
                                  box-shadow: inset 0 0 10px #0026ff; 
                                  border-radius: 10px;
                              }
                              
                              /* Handle */
                              ::-webkit-scrollbar-thumb {
                                  background: white;
                                  border: black; 
                                  border-radius: 10px;
                              }
                              
                              /* Handle on hover */
                              ::-webkit-scrollbar-thumb:hover {
                                  background: aliceblue; 
                              }
      
                  .flexbox-item2-part1
                  {
                      width: 100%;
                      height: 50px;
                      background: #0188DF;
                      border-radius: 10px;
                      
                      display: flex;
                      font-size: 40px;
                      justify-content: center;
                      align-items: center;
                      font-family: 'Adamina';
      
                  }
      
                          .opening1
                          {
                              width: 100%;
                              background: #0188DF;
                              color: white;
                              display: flex;
                              justify-content: left;
                              align-items: center;
                              font-size: 23px;
                              text-shadow: 2px 2px 10px  black;
                              background: rgba(255, 255, 255, 0.1);
                          }
      
                          .opening2
                          {
                              width: 100%;
                              background: #0188DF;
                              color: white;
                              display: flex;
                              justify-content: left;
                              align-items: center;
                              font-size: 23px;
                              text-shadow: 2px 2px 10px  black;
                              background: rgba(255, 255, 255, 0.1);
                          }
      
                          .opening3
                          {
                              width: 100%;
                              background: #0188DF;
                              color: white;
                              display: flex;
                              justify-content: left;
                              align-items: center;
                              text-shadow: 2px 2px 10px  black;
                              background: rgba(255, 255, 255, 0.1);font-size: 23px;
                          }
      
                          .opening4
                          {
                              width: 100%;
                              background: #0188DF;
                              color: white;
                              display: flex;
                              justify-content: left;
                              align-items: center;
                              font-size: 23px;
                              text-shadow: 2px 2px 10px  black;
                              background: rgba(255, 255, 255, 0.1);
                          }

      
      
                  .flexbox-item2-part2
                  {
                      width: 100%;
                      height: 50px;
                      background: #0188DF;
                      border-radius: 10px;
                      color: black;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      
                  }
      
                  .part2text
                  {
                      background: #0188DF;
                      color: white;
                      
                      background: rgba(255, 255, 255, 0.1);
                  }
      
                          /*border lagaya tha but hata diya*/
                          hr.new5 {
                              border: 0px solid #0188DF;
                              border-radius: 5px;
                            
                              background: rgba(255, 255, 255, 0.1);
                            }
                              
      
      
                          label
                          {font-size: 25px;}
                          
                          ::placeholder 
                          {font-size: 20px;
                            color: #7ac8fc;
                        }
      
                          input[type=text] 
                          {
                              width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              box-sizing: border-box;
                              border: none;
                              background: #0188DF;
                              color: white;
                              font-size: 25px;

                              
                              background: rgba(255, 255, 255, 0.1);
                          }
      
                          input[type=file]::file-selector-button {
                              border: 2px solid #6c5ce7;
                              padding: .2em .4em;
                              border-radius: .2em;
                              background-color: #a29bfe;
                              transition: 0.5s;
                              font-size: 25px;
                            }
                            
                            input[type=file]::file-selector-button:hover {
                              background-color: aliceblue;
                              border: 2px solid aliceblue;
                              font-size: 25px;
                            }
      
                            /*border lagaya tha but hata diya*/
                            hr.new6 {
                              border: 0px solid #0188DF;
                              border-radius: 5px;}
      
                  .flexbox-item2-part3
                  {
                      width: 100%;
                      height: 50px;
                      background: #0188DF;  
                      border-radius: 10px;
                      color: black;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      
                  }
      
                  .fieldname
                  {
                      font-size: 25px;
                      background: #0188DF;
      
                              color: black;

                              
                              background: rgba(255, 255, 255, 0.1);
                  }
      
                  .Experience
                  {
                      font-size: 25px;
                      background: #0188DF;
                              color: white;

                              
                              background: rgba(255, 255, 255, 0.1);
                  }
      
                  input[type=submit]
                  {
                      background-color: white;
                      color: #0188DF;
                      text-align: center;
                      border: 5px;
                      color: white;
                      padding: 16px 32px;
                      text-decoration: none;
                      margin: 4px 2px;
                      cursor: pointer;
                      
                      background: rgba(255, 255, 255, 0.1);
                  }

                  .submit{
                      text-align: center;
                  }
                  
      
          .flexbox-item2 h3
          {
              font-size: 35px;
              font-family: 'Adamina';
          }
          .part3text
          {
              background: #0188DF;
                color: white;
                
                background: rgba(255, 255, 255, 0.1);
            }                                  /*        part 2 ended        */




/* flexbox part 3 ka code neeche */

.flexbox-item3
{
    width: 100%;
    background : transparent;
   
    font-family: 'Adamina';
    min-height: 300px;
    padding: 20px;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);
}


            .flexbox-item3 h3
            {
                width: 100%;
                height: 85px;
                border-radius: 20px;
                background: #0188DF;
                
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 45px;
                font-family: 'Adamina';
            }

            .select1
            {
                font-size: 20px;
                background : transparent;
              
                text-shadow: 2px 2px 10px  black;
                font-family: 'Adamina';}
                

            .select2
                {
                    font-size: 20px;
                    background : transparent;
              
                text-shadow: 2px 2px 10px  black;
                font-family: 'Adamina';}
                

                    textarea {
                        width: 100%;
                        height: 100px;
                        padding: 12px 20px;
                        box-sizing: border-box;
                        font-family: 'Adamina';
                        text-shadow: 2px 2px 10px  black;
                        border: 2px solid white;
                        border-radius: 20px;
                        background : transparent;
                        color: white !important;
                        font-size: 20px;
                        resize: none;
                      }


                      input[type=submit]
                      {
                          background-color: white;
                          border-radius: 0px 20px 0px 20px;
                          color: #354046;
                          padding: 16px 32px;
                          text-decoration: none;
                          margin: 4px 2px;
                          font-size: 20px;
                          box-shadow: 0 10px 20px -8px rgba(0, 0, 0,1);
                          cursor: pointer;}

                          input[type=submit]:hover
                          {
                              background-color: #0188DF;
                              color: white;
                              font-size: 20px;
                          }
                          

    .flexbox-item3 p
    {
        font-size: 20px;
        font-family: 'Adamina';
        text-shadow: 2px 2px 10px  black;
    }












[class*="col-"] {
    float: left;
    padding: 15px;
  }

/*MEDIA QUERIES*/

@media screen and (max-width: 4000px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  


@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
    height: 40px;
  }
}


  /*standard wali media queries*/


  /* For mobile phones: */
    [class*="col-"] 
    {
        width: 100%;
    }
    
    @media only screen and (min-width: 0px) and (max-width: 600px) {
        div.claristext p
        {
            display: none;
        } 
        ul.sidenav
        {
            font-size: 100%;
        }
        div.flexbox-item2
        {
          overflow: hidden;
        }
        div.flexbox-item2 h3 {
            font-size: 25px;
        }
        .fieldname {
            font-size: 15px;
        }
        .Experience {
            font-size: 15px;
        }
        div.opening1 {
            font-size: 15px;
        }
        div.opening2 {
            font-size: 15px;
        }
        div.opening3 {
            font-size: 15px;
        }
        div.opening4 {
            font-size: 15px;
        }
        div.flexbox-item3 h3 {
            font-size: 30px;
        }
        

    }

    @media only screen and (min-width: 601px) {
        div.flexbox-item3 h3 {
            font-size: 35px;
        }
        div.flexbox-item2-part1 {
            font-size: 15px;
        }
        
    
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    

  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    
}}}






.checkbox{
    position: relative;
    right: -50px;
   top: 10px;
     transform: translate(-50%,-50%);
     width: 60px;
     height: 40px;
     border-radius: 25px;
     background: linear-gradient(0deg,#d8d8d8,#cccccc);
     border-top:0.02em solid #ececec ;
     border-bottom:0.02em solid #ececec ;
 }
 
 .checkbox .inner{
     position: absolute;
     top: 10px;
     left: 10px;
     right: 10px;
     bottom: 10px;
     background: linear-gradient(0deg,#a5a5a5,#717171);
     border-radius: 20px;
     box-shadow: inset 0 0 15px rgba(0,0, 0, .5);
 }
 
 .checkbox .inner .toggle{
     position: absolute;
     top: -1px;
     left: -1px;
     height: 20px;    
     width: 20px;
     border-radius: 50%;
     background: linear-gradient(0deg,#ccc,#e4e4e4);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
     box-sizing: border-box;
     border-top: 0.04em solid #ececec;
     border-bottom: 0.01em solid #ececec;
     transition: 0.5s;
 
 }
 
 .checkbox .inner.active .toggle{
     left: 26px;
 }
 